# Node
node_modules/

# Hardhat
cache/
abis/
artifacts/
deployments/
exports/

# Env
.env

# Coverage
coverage/
coverage.json

# History
.history/

# Typechain
/typechain/

# yarn
yarn-error.log
yarn.lock
package-lock.json